{% extends 'layout.html' %}
{% block body %}
<div class="text-dark" id="dashboard">
    <h3 class="text-center"><u>Available Courses</u></h3>
    <p class="text-center swipe">Swipe to View the Course Material</p>   
    <hr>
    <div style="overflow-x:auto;">
    <table class="table table-striped text-dark bg-light">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Subject</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for course in courses %}
        <tr>
            <td> {{course.title}} </td>
            <td> {{course.description}} </td>
            <td> {{course.subject}} </td>
            <td> {{course.author}} </td>
            <td> {{course.issue_date}} </td>
            <td><a href="enrolled/{{course.id}}" class="btn btn-primary pull-right">Enroll Now</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
