{% extends 'layout.html' %}
{% block body %}
<div class="text-dark" id="dashboard">
    <h3 class="text-center">View Your Courses</h3>
    <p class="text-center swipe">Swipe to Preview/Edit/Delete</p>   
    <hr>
    <div style="overflow-x:auto;">
    <table class="table table-striped text-dark bg-light">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.title}} </td>
            <td> {{course.description}} </td>
            <td> {{course.issue_date}} </td>
            <td><a href="review_course/{{course.id}}" class="btn btn-info pull-right">Preview</a></td>
            <td><a href="edit_course/{{course.id}}" class="btn btn-primary pull-right">Edit</a></td>
            <td>
                <form action="{{url_for('delete_course', id=course.id)}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
            <td><a href="enrolled_students/{{course.id}}" class="btn btn-primary pull-right">Enrolled Number</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}